<body class="vrg_home">
	<header class="vrg_header">
		<div class="container">
		<div class="columns sixteen vrg_header-logo">
			<span class="vrg-icon">j</span>
		</div>

		<div class="columns sixteen vrg_header-text">
			<p>We are design and development consultants creating digital experiences. </p>
		</div>
	</header>
	<div class="vrg_bodycontent">
		<nav class="vrg_nav">
			<div class="container">
				<div class="columns sixteen">
					<div class="vrg_nav-logo">
						<span class="vrg-icon">j</span>
					</div>
					<ul>
						<li id="nav_whatwedo"><a href="#">What We Do</a></li>
						<li id="nav_aboutus"><a href="#">About Us</a></li>
						<li id="nav_ourwork"><a href="#">Our Work</a></li>
						<li id="nav_contact" class="last"><a href="#">Contact us</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="vrg_whatwedo" id="whatwedo">
			<div class="container">
				<div class="columns sixteen">
					<h2 class="textCentered heading">What We Do</h2>
					<div class="columns nine">
						<p>We help you build that positive experience right into your product. We provide creative services for multiple facets of the digital industry from mobile applications to web applications.</p>
<p>Reaching out to your potential customers is harder then it has ever been. We help you plan out your strategy to <span class="italic">attack</span>  from all flanks.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="vrg_aboutus" id="aboutus">
			<div class="arrowLeft"><%= image_tag("arrowLeft.svg", :class =>  "svg") %></div>
			<div class="container">
				<div class="columns sixteen">
					<h2 class="textCentered heading">About Us</h2>
				</div>
				<ul>
					<li id="1">
						<div class="columns sixteen brokenheartBackground">
							<div class="brokenheartHeart animated pulse"></div>
							<div class="columns nine">
								<h3 class="bold">No More Broken Hearts</h3>
								<p>What sets one designer or developer apart from the rest? We have chosen to deliver amazement, joy and craft, embraced by distinctive creativity.</p>
								<p>You ask for the goods. We deliver the great. We are committed to exceeding your expectations, but not your budget.</p>
							</div>
						</div>
					</li>
					<li id="2">
						<div class="columns sixteen">

							<div class="columns nine">
								<h3 class="bold">Creative Machines</h3>
								<p>At VRG, we are less creative machines, and more creative producers of machinations, but in the nicest possible sense.</p>
								<p> We scheme and conspire together, to design and devise intriguing strategies for our clients, and ultimately for their global user base. We <span class="italic">love</span> what we do!</p>
							</div>
							<div class="columns six creativemachinesBackground">
								<div class="creativemachinesPulley1 animated rotateCW"></div>
								<div class="creativemachinesPulley2 animated rotateCW"></div>
								<div class="bubbles">
									<div class="bubble1 animated animated.bubble1 fadeOutUp infinite"></div>
									<div class="bubble2 animated fadeOutUp infinite"></div>
									<div class="bubble3 animated animated.bubble3 fadeOutUp infinite"></div>
									<div class="bubble4 animated animated.bubble4 fadeOutUp infinite"></div>
									<div class="bubble5 animated animated.bubble5 fadeOutUp infinite"></div>
								</div>
							</div>
						</div>
					</li>
					<li id="3">
						<div class="columns nine">
							<h3 class="bold">Storytellers</h3>
							<p>Each story becomes a part of history. VRG's creations each tell a story of art borne from need, climaxing with flair and imagining.</p>
							<p>Our client accolades and user experiences spur us on to even greater and higher plains of conceptual form. Let our next story become a part of your history.</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="arrowRight"><%= image_tag("arrowRight.svg", :class =>  "svg") %></div>
		</section>
		<section class="vrg_work" id="ourwork">
			<div class="arrowLeft"><%= image_tag("arrowLeft.svg", :class =>  "svg") %></div>
			<div class="container">
				<div class="columns sixteen">
					<h2 class="textCentered heading">Our Work</h2>
				</div>
				<div class="work-items current">
					<div class="columns eight work-item">
						<div class="preview">
							<%= image_tag("work-flightnetwork.png", :width =>  "440px") %>
							<div class="work-caption">
								<p><strong>FlightNetwork</strong></p>
								<p>The largest flight booking website in Canada needed a full suite of applications.</p>
							</div>
						</div>
					</div>
					<div class="columns one"></div>
					<div class="columns eight work-item" id="work-toyota">
						<div class="preview" >
							<%= image_tag("work-toyota.png", :width =>  "440px") %>
							<div class="work-caption">
								<p><strong>Toyota Canada</strong></p>
								<p>Toyota Canada’s Corolla treasure hunt contest for both iOS and Facebook.</p>
							</div>
						</div>
					</div>
					<div class="columns eight work-item" id="work-kfc">
						<div class="preview">
							<%= image_tag("work-kfc.png", :width =>  "440px") %>
							<div class="work-caption">
								<p><strong>KFC Canada</strong></p>
								<p>The Colonel's Club needed to branch out to mobile.</p>
							</div>
						</div>
					</div>
					<div class="columns one"></div>
					<div class="columns eight work-item">
						<div class="preview">
							<%= image_tag("work-monstercat.png", :width =>  "440px") %>
							<div class="work-caption">
								<p><strong>Monstercat</strong></p>
								<p>One of the fastest growing record labels for electronic music in Canada.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="work-detail" id="work-toyota">
					<div class="columns nine">
						<div class="paging-indicators"></div>
						<ul class="paging">
							<li><%= image_tag("work-toyota-ss1.png", :width =>  "521px") %></li>
							<li><%= image_tag("work-toyota-ss2.png", :width =>  "521px") %></li>
							<li><%= image_tag("work-toyota-ss2.png", :width =>  "521px") %></li>
						</ul>
					</div>
					<div class="columns seven">
						<table>
							<tr>
								<td class="strong" width="30%">Date</td>
								<td>August 2013</td>
							</tr>
							<tr>
								<td class="strong">Client</td>
								<td>Desperado / Toyota Canada</td>
							</tr>
							<tr>
								<td class="strong">Project</td>
								<td>Corolla Hunt</td>
							</tr>
							<tr>
								<td class="strong">Services</td>
								<td>Mobile Design, IA Strategy</td>
							</tr>
						</table>
						<h5>Brief Overview</h5>
						<p class="detail-overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis varius ante, at sollicitudin erat. Vivamus sem turpis, mattis ut adipiscing eget, varius venenatis metus. Quisque mollis eros vitae elit venenatis viverra. Nulla vulputate varius feugiat. Nunc nec quam malesuada, tristique metus vel, convallis felis. </p>
						<p><a href="#">Read full case study ›</a></p>
					</div>
				</div>
				<div class="work-detail" id="work-kfc">
					<div class="columns nine">
						<div class="paging-indicators"></div>
						<ul class="paging">
							<li><%= image_tag("work-kfc-ss1.png", :width =>  "521px") %></li>
							<li><%= image_tag("work-kfc-ss2.png", :width =>  "521px") %></li>
							<li><%= image_tag("work-kfc-ss3.png", :width =>  "521px") %></li>
						</ul>
					</div>
					<div class="columns seven">
						<table>
							<tr>
								<td class="strong" width="30%">Date</td>
								<td>June 2013</td>
							</tr>
							<tr>
								<td class="strong">Client</td>
								<td>Yum! Inc</td>
							</tr>
							<tr>
								<td class="strong">Project</td>
								<td>KFC Colonel's Club App</td>
							</tr>
							<tr>
								<td class="strong">Services</td>
								<td>Mobile Design, IA Strategy</td>
							</tr>
						</table>
						<h5>Brief Overview</h5>
						<p class="detail-overview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis varius ante, at sollicitudin erat. Vivamus sem turpis, mattis ut adipiscing eget, varius venenatis metus. Quisque mollis eros vitae elit venenatis viverra. Nulla vulputate varius feugiat. Nunc nec quam malesuada, tristique metus vel, convallis felis. </p>
						<p><a href="/casestudy/kfc" title="Read full case study">Read full case study ›</a></p>
					</div>
				</div>
			</div>
		</section>
		<section class="vrg_clients">
			<div class="container">
				<div class="columns sixteen">
					<span class="clients-title">Brands we've worked with</span>
					<ul class="clients-list">
						<li><a href="http://www.kfc.ca"><%= image_tag("brand-kfc.png", :width => "84px") %></a></li>
						<li><a href="http://www.toyota.ca"><%= image_tag("brand-toyota.png", :width => "150px") %></a></li>
						<li><a href="http://www.flightnetwork.com"><%= image_tag("brand-flightnetwork.png", :width => "173px") %></a></li>
						<li><a href="http://www.monstercat.com"><%= image_tag("brand-monstercat.png", :width => "168px") %></a></li>
					</ul>
				</div>
			</div>
		</section>
		<section class="vrg_contact" id="contact">
			<div class="container">
				<div class="columns sixteen">
					<h2 class="textCentered heading textWhite">Contact</h2>
				</div>
				<div class="columns sixteen">
					<p class="subheading textCentered textWhite">Got an idea, question or general inquiry? We can help.
	Drop us a line and we will be happy to chat!</p>
				</div>
				<div class="columns four">


				</div>
			</div>
		</section>
	</div>
</body>
