<nav class="l-section l-section--primary l-section--xs l-section--primary--bordered js-fixed">
	<div class="container">
		<div class="m-navigation">
			<%= link_to image_tag("logo.svg", class: "svg m-navigation__logo"), root_path %>
			<ul class="list-inline d-none d-sm-inline">
				<li class="list-inline-item"><a href="#whatwedo" class="text-white">What We Do</a></li>
				<li class="list-inline-item"><a href="#aboutus" class="text-white">About Us</a></li>
				<li class="list-inline-item"><a href="#ourwork" class="text-white">Our Work</a></li>
				<li class="list-inline-item"><a href="#contact" class="text-white">Contact us</a></li>
			</ul>
		</div>
	</div>
</nav>

<header class="l-section l-section--primary l-section--full sticky-mc-stick-face">
	<div class="container text-center">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<h1 class="m-hero__subtitle text-darken">Digital Discovery, Development and Design</h1>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <p class="text-white-muted">Lets keep it simple... We help savvy business owners create beautiful, discoverable, high conversion online experiences.</p>
          </div>
        </div>
			</div>
		</div>
  </div>
  <div class="l-section__footer">
    <div>
      <p class="text-darken font-italic small">COME ON IN, SCROLL DOWN...</p>
      <%= icon("fas", "arrow-down", class: "animated bounce infinite text-darken mt-3") %>
    </div>
  </div>
</header>

<section class="l-section l-section--white l-section--xxl" id="whatwedo">
	<div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="text-darken mb-5">Our Services</h2>
      </div>
    </div>
		<div class="row text-center justify-content-center">
      <div class="col-lg-6">
        <div class="m-whatwedo__item">
          <div class="m-whatwedo__icon">
            <%= image_tag("about_us/collaborative.svg") %>
          </div>
          <h3 class="text-primary">Digital Discovery & SEO</h3>
          <p class="text-muted">If you've ever used Google before, then you're familiar with the idea of page ranking. Plain and simply, we help businesses get to the first page on Google, Bing, and Yahoo so that they're seen first. We help establish your presence and a long term content strategy so that you obtain and keep your rank for years to come.</p>
        </div>
      </div>
			<div class="col-lg-6">
				<div class="m-whatwedo__item">
					<div class="m-whatwedo__icon">
						<%= image_tag("what_we_do/code.svg") %>
					</div>
					<h3 class="text-primary">Web Design & Development</h3>
					<p class="text-muted">Website, mobile apps and beyond. We develop software that suprises and delights across all platforms and devices. Got an idea, just ask us about it -- we love chatting with excited entrepreneurs.</p>
				</div>
			</div>
      <div class="col-lg-4">
        <div class="m-whatwedo__item mb-5">
          <div class="m-whatwedo__icon">
            <%= image_tag("what_we_do/branding.svg") %>
          </div>
          <h3 class="text-primary">Branding & Design</h3>
          <p class="text-muted">Logo design, brand identity, business collateral and more. We help our clients establish a beautiful, reproduceable and modern brand that will stand the test of time and attract new business.</p>
        </div>
      </div>
			<div class="col-lg-4">
				<div class="m-whatwedo__item mb-5">
					<div class="m-whatwedo__icon">
						<%= image_tag("what_we_do/video.svg") %>
					</div>
					<h3 class="text-primary">Video Production</h3>
					<p class="text-muted">If a picture is worth 1000 words, then a great video can change the way you do business. Our world class video development team can help you create and express exactly what you want to say through this profoundly powerful medium.</p>
				</div>
			</div>

      <div class="col-lg-4">
        <div class="m-whatwedo__item mb-5">
          <div class="m-whatwedo__icon">
            <%= image_tag("about_us/storytellers.svg") %>
          </div>
          <h3 class="text-primary">Paid Search</h3>
          <p class="text-muted">Standout above your competitors and do it affordably. We offer customized paid marketing support for Google, Facebook and other key paid search platforms.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="m-whatwedo__item mb-5">
          <div class="m-whatwedo__icon">
            <%= image_tag("what_we_do/development.svg") %>
          </div>
          <h4 class="text-primary">Conversion Optimization</h4>
          <p class="text-muted">Don't just drive traffic to your site, convert it. We help design and deploy optimized landing pages, experience improvments and more to help capture leads and the analytics you need to observe and improve your conversion.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="m-whatwedo__item mb-5">
          <div class="m-whatwedo__icon">
            <%= image_tag("other/laptop.svg") %>
          </div>
          <h4 class="text-primary">Engaugement & Retargeting</h4>
          <p class="text-muted">Your best clients are clients who have already bought from you. So, how do you get them to come back? We help design bespoke lead capture and reengaugement campaigns to ensure your customers keep coming back.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="m-whatwedo__item mb-5">
          <div class="m-whatwedo__icon">
            <%= image_tag("other/games.svg") %>
          </div>
          <h4 class="text-primary">Loyalty Programs</h4>
          <p class="text-muted">Reward your clients for their loyalty with points or in-house value that they can redeem as they continue to buy from you. And, we help you do it though your exisitng CMS or POS platform so that you're not introducing new work or overhead.</p>
        </div>
      </div>
		</div>
    <div class="text-center text-darken">
      <p>Looking for something you don't see? <%= mail_to "hello@vrginteractive.com", "Just ask us.", class: "text-primary" %> We're here to help.</p>
    </div>
	</div>
</section>

<section class="l-section l-section--info l-section--xxl" id="aboutus">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h2 class="text-darken mb-5">About Us</h2>
			</div>
		</div>
		<!-- Row 1 -->
		<div class="m-aboutus__item row align-items-center">
			<div class="col-md-6 order-md-12">
				<%= image_tag("about_us/collaborative.svg", class: "m-aboutus__image") %>
			</div>
			<div class="col-md-6 order-md-1">
				<h3 class="font-wight-bold">Focused & Collaborative</h3>
				<p class="text-white-muted">You asked for the goods. We deliver the great. We are committed to exceeding your expectations, but not your budget.</p>
			</div>
		</div>
		<!-- Row 2 -->
		<div class="m-aboutus__item row align-items-center">
			<div class="col-md-6">
				<div class="m-auto creative-machines-background">
					<div class="creative-machines-pully-1 animated rotateCW"></div>
					<div class="creative-machines-pully-2 animated rotateCW"></div>
					<div class="bubbles">
						<div class="bubble"></div>
						<div class="bubble"></div>
						<div class="bubble"></div>
						<div class="bubble"></div>
						<div class="bubble"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
					<h3 class="font-wight-bold">Creative Machines</h3>
					<p class="text-white-muted">We scheme and conspire together, to design and devise intriguing strategies for our clients, and ultimately for their global user base. We <span class="italic">love</span> what we do!</p>
			</div>
		</div>
		<!-- Row 3 -->
		<div class="m-aboutus__item row align-items-center">
			<div class="col-md-6 order-md-12">
				<%= image_tag("about_us/storytellers.svg", class: "m-aboutus__image") %>
			</div>
			<div class="col-md-6 order-md-1">
				<h3 class="font-wight-bold">Storytellers</h3>
				<p class="text-white-muted">Each story becomes a part of history. VRG's creations each tell a story of art borne from need, climaxing with flair and imagining.</p>
				<p class="text-white-muted">Our client accolades and user experiences spur us on to even greater and higher plains of conceptual form. Let our next story become a part of your history.</p>
			</div>
		</div>
	</div>
</section>

<section class="l-section l-section--white l-section--xxl text-center text-sm-left" id="ourwork">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h2 class="text-darken mb-5">Some of Our Work</h2>
			</div>
		</div>
		<div class="row">
			<% @our_work.each do |work| %>
				<div class="col-md-6 col-lg-4">
					<div class="m-ourwork">
						<div class="m-ourwork__image">
							<%= image_tag(work["image"], class: "img-fluid") %>
							<div class="m-ourwork__image__body">
								<h5><%= link_to work["name"], work["url"], target: "_blank" %></h5>
								<p class="mb-0"><%= work["description"] %></p>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row justify-content-center mt-5 text-center">
			<div class="col-md-6">
				<h4 class="text-darken">we've done our job when you're blown away with what we've built together...</h4>
			</div>
		</div>
	</div>
</section>

<!-- <section class="l-section l-section--light l-section--sm" id="clients">
	<div class="container">
		<div class="row align-items-center mb-2">
			<% @clients.each do |client| %>
				<div class="col-md-2 col-4">
					<div class="m-client">
						<%= link_to image_tag(client["logo"], class: "m-client__image img-fluid"), client["url"], target: "_blank" %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="text-center text-muted">Some of the fine folks we've had the pleasure of working with.</div>
	</div>
</section> -->

<section class="l-section l-section--primary l-section--xxl" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="m-contact">
					<div class="m-contact__title">
						<h1 class="mb-3">Don't be shy,<br />Talk to us.</h1>
						<h4 class="text-darken">We reply to everyone right away. See for yourself.</h4>
					</div>
				</div>

				<div class="m-contact__content">
					<div class="m-contact__email">
						<small class="text-darken mb-1 font-weight-bold">SAY HI</small>
						<h3><%= mail_to "hello@vrginteractive.com", "hello@vrginteractive.com", class: "text-white" %></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="l-section l-section--dark l-section--lg" id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p class="small text-uppercase">VRG Interactive</p>
				<ul class="list-unstyled">
					<li><a href="#whatwedo">What We Do</a></li>
					<li><a href="#aboutus">About Us</a></li>
					<li><a href="#ourwork">Our Work</a></li>
					<li><a href="#contact">Contact us</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<p class="small text-uppercase">Location</p>
				<p class="text-muted">
					520 - 720 King Street West<br />
					Toronto Ontario<br />
					Canada
				</p>
			</div>
			<div class="col-md-4">
				<p class="small text-uppercase">Contact</p>
				<%= mail_to "hello@vrginteractive.com", "hello@vrginteractive.com" %>
			</div>
		</div>
	</div>
</section>
